body {
  background-color: #333;
}

.container {
  margin: 60px auto;
  padding: 20px 40px;
  max-width: 600px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 0px 20px black;
}

.content {
  margin: 40px;
  margin-top: 0;
}

.content .input-group::after {
  content: " ";
  display: block;
  height: 20px;
}

.content .input-group label {
  cursor: pointer;
}

.alert {
  min-height: 52px;
}

header img {
  top: -0.5rem;
  position: relative;
}

footer {
  text-align: center;
}
